.page-one {
  margin: 0;
  padding: 0;
  height: 100%;
}

.quiz-one-content-bg {
  height: 650px;
  background: linear-gradient( rgba(20, 20, 20, .7), rgba(20, 20, 20, .7)), url("./lanterns.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.pg1-questions {
  padding: 4rem;
}
