.sidebar {
  height: 100%;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  max-width: 400px;
  z-index: 200;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.sidebar li {
  margin: 0.5rem 0;
}

.sidebar a {
  font-size: 1.2rem;
}

.sidebar a:hover,
.sidebar a:active {
  color: orange;
}

@media (min-width: 769px) {
  .sidebar {
    display: none;
  }
}
