/* Side Panel Styles */
.row {
  height: 100%;
  margin: 0;
  padding: 0;
}
.quiz-side-panel {
  background-color: rgb(38, 166, 154);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 8px solid rgb(245, 245, 245);
}

.questions-container {
  color: rgb(245, 245, 245);
  font-weight: bold;
}

.questions-container h3 {
  font-size: 3.5rem;
}

.questions-container span {
  display: inline-block;
}

.questions-container h5 {
  font-size: 2rem;
}

/* Images */

.answer-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.pg-1 {
  height: 100%;
  background: linear-gradient(rgba(20, 20, 20, .7), rgba(20, 20, 20, .7)), url('./Images/lanterns.JPG');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.pg-2 {
  height: 100%;
  background: linear-gradient(rgba(20, 20, 20, .5), rgba(20, 20, 20, .5)), url('./Images/pagodas.JPG');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.pg-3 {
  height: 100%;
  background: linear-gradient(rgba(20, 20, 20, .5), rgba(20, 20, 20, .5)), url('./Images/bridge.JPG');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.pg-4 {
  height: 100%;
  background: linear-gradient(rgba(20, 20, 20, .5), rgba(20, 20, 20, .5)), url('./Images/mountainTemple.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.pg-5 {
  height: 100%;
  background: linear-gradient(rgba(20, 20, 20, .5), rgba(20, 20, 20, .5)), url('./Images/trainStation.JPG');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.pg-6 {
  height: 100%;
  background: linear-gradient(rgba(20, 20, 20, .5), rgba(20, 20, 20, .5)), url('./Images/shanghai.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.pg-7 {
  height: 100%;
  background: linear-gradient(rgba(20, 20, 20, .5), rgba(20, 20, 20, .5)), url('./Images/riceTerrace.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.pg-8 {
  height: 100%;
  background: linear-gradient(rgba(20, 20, 20, .5), rgba(20, 20, 20, .5)), url('./Images/terraCotta.JPG');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.pg-9 {
  height: 100%;
  background: linear-gradient(rgba(20, 20, 20, .5), rgba(20, 20, 20, .5)), url('./Images/bamboo.JPG');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.pg-10 {
  height: 100%;
  background: linear-gradient(rgba(20, 20, 20, .5), rgba(20, 20, 20, .5)), url('./Images/pagoda.JPG');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

/* Right-side Styles & Checkboxes */

label {
  padding: 20px;
}

.answer-text {
  padding: 20px;
}

[type="checkbox"]+span:not(.lever):before, [type="checkbox"]:not(.filled-in)+span:not(.lever):after {
  border: 2px solid rgb(245, 245, 245);
  width: 20px;
  height: 20px;
  margin-top: 24px;
}

[type="checkbox"]+span:not(.lever) {
  color: rgb(245, 245, 245);
  font-size: 2rem;
  font-weight: bold;
}

[type="radio"]+span:not(.lever):before, [type="radio"]:not(.filled-in)+span:not(.lever):after {
  border: 2px solid rgb(245, 245, 245);
  width: 20px;
  height: 20px;
  margin-top: 24px;
}

[type="radio"]+span:not(.lever) {
  color: rgb(245, 245, 245);
  font-size: 1.85rem;
  font-weight: bold;
  margin: 10% 0;
}

/* Btn Styling */
.btn-floating {
  width: 75px;
  height: 75px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-top: 10%;
  margin: 2rem;
}

.btn-floating i {
  line-height: 75px;
  font-size: 4rem;
  float: right;
}

.submit-btn {
  font-size: 1.1rem;
  float: right;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-top: 10%;
  margin: 2rem;
}


@media (max-width: 700px) {
  .questions-container h3 {
    font-size: 2.5rem;
  }

  .questions-container h5 {
    font-size: 1.5rem;
  }
}

@media (max-width: 535px) {
  .row .col.s4 {
    width: 50%;
  }
}
