/* Side Panel Styles */
.row {
  height: 100%;
  margin: 0;
  padding: 0;
}
.quiz-side-panel {
  background-color: rgb(38, 166, 154);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.questions-container h3, h5{
  color: rgb(245, 245, 245);
  font-weight: bold;
}

.questions-container h3 {
  font-size: 3.5rem;
}

.questions-container span {
  display: inline-block;
}

.questions-container h5 {
  font-size: 2rem;
}

/* Right-side Styles */
.row .col.s8 {
  height: 100%;
}


@media (max-width: 700px) {
  .questions-container h3 {
    font-size: 2.5rem;
  }

  .questions-container h5 {
    font-size: 1.5rem;
  }
}

@media (max-width: 535px) {
  .row .col.s4 {
    width: 50%;
  }
}
