section {
  margin: 0;
  padding: 0;
}

.page-two {
  margin: 0;
  padding: 0;
  height: 100%;
}

.quiz-two-content-bg {
  height: 650px;
  background: linear-gradient( rgba(20, 20, 20, .5), rgba(20, 20, 20, .5)), url("./summerPalace.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.first-checkbox {
  padding-top: 4rem;
  padding-left: 10rem;
}

.second-checkbox {
  padding-left: 10rem;
}
