.row {
  height: 100%;
  margin: 0;
  padding: 0;
}

.itinerary-container {
  height: 100%;
}

.itinerary-side-panel {
  background-color: rgb(38, 166, 154);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(245, 245, 245);
  font-weight: bold;
}

.itinerary-side-panel p{
  font-size: 1.5rem;
}

.itinerary-main-content {
  background-color: rgb(255,249,249);
  height: 100%;
  display: flex;
  flex-direction: column;
  color: rgb(47,79,79);
  display: block;
  overflow: auto;
}

.activity {
  color: rgb(47,79,79);
}

h3.itinerary-heading {
  font-weight: bold;
}

.itinerary-underline {
  width: 100px;
  height: 3px;
  background-color: rgb(47,79,79);
  margin-left: 80px;
}
