.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
}

.navbar {
  display: flex;
  background-color: transparent;
  box-shadow: none;
  border: none;
  align-items: center;
  height: 100%;
  padding: 0 1.5rem;
  letter-spacing: 0.15rem;
}

.logo {
  margin-left: 0;
  color: white;
  text-decoration: none;
  font-size: 1.50rem;
}

.logo-img {
  height: 80px;
  width: 100px;
}

.navbar-space {
  flex: 1;
}

.navbar-items {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-items a {
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
  padding: 0 1rem;
}

.navbar-items a:hover,
.navbar-items a:active {
  color: rgb(38, 166, 154);
}

@media (max-width: 768px) {
  .navbar-items {
    display: none;
  }
  .logo {
    margin-left: 1.50rem;
  }
}

@media (min-width: 769px) {
  .toggle-navbar-btn {
    display: none;
  }

}
